body, html {
	display: block;
	height: 100%;
	padding: 0;
}

.header {
	width: 100%;
	height: 200px;
	text-align: center;
}

.header--title-container {
	height: 200px;
	width: inherit;
	position: absolute;
	margin: 200px auto 0 auto;
	display: block;
	display: flex;
	justify-content: center; 
}
.header--title {
	display: inline-block;
	font-size: 200px;
	height: 200px;
	width: 200px;
	line-height: 200px;
	text-align: center;
	float: left;
	font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif
}

.header--subtitle {
	font-size: 80px;
	width: 80px;
	line-height: 280px;
}

.circle-eye-out {
	width: 120px;
	height: 120px;
	border-radius: 50%;
	background-color: white;
	border: 20px solid black;
	margin: 20px auto 0 auto;
}

.circle-eye-in {
	position: absolute;
	width: 50px;
	height: 50px;
	background-color: black;
	border-radius: 50%;
	-webkit-transition: all 0.5s; /* Safari */
    transition: all 0.5s;
}