<!doctype html>
<html>
    <head>
        <title>Simple Tests - Using Mocha & Chai</title>
        <link rel="stylesheet" href="/testpage/css/mocha.css" />
    </head>
    <body>
        <div id="mocha"></div>
        <script src="mocha.js"></script>
        <script src="chai.js"></script>
        <script>
            mocha.ui('bdd');
            mocha.reporter('html');
            var expect = chai.expect;
        </script>
        <script src="/test/test.js"></script>
        <script>
            mocha.run(); // 6
        </script>
    </body>
</html>
